header.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
header.container > div, header.container > a {
  margin: 15px 15px 15px 0;
}
header.container .moreInfo svg {
  max-width: 24px;
  max-height: 24px;
}
header.container .callback {
  background-color: var(--main-color-theme);
}

/*# sourceMappingURL=header.css.map */
