header.container {
  //margin: 15px 0;

  display: flex;
  flex-wrap: wrap;
  //max-height: 70px;
  overflow: hidden;

  > div, > a {
    margin: 15px 15px 15px 0;
    //background-color: #cccccc;
  }

  .moreInfo {
    svg {
      max-width: 24px;
      max-height: 24px;
    }

  }

  .callback {
    background-color: var(--main-color-theme);
  }
}