:root {
  --main-color-theme: #815ca6;
}

a.button {
  display: flex;
  justify-content: center;

  box-shadow: 2px 1px 3px #000;
  text-shadow: 1px 1px 0 #000;

  border-radius: 50px;
  background-color: var(--main-color-theme);
  padding: 5px 18px;
  color: #fff;
  font-size: 14px;
  height: 34px;
  text-decoration: none;
  border: none;
  outline: none;
  align-items: center;
  cursor: pointer;
}